:root {
    --blanco: rgba(251,255,251,255);
    --azul-1: rgba(99,149,236,255);
    --azul-headers: rgba(105,147,225,255);
    --azul-2:rgba(138,176,248,255);
    --azul-3: rgba(163,193,243,255);
    --azul-4: rgba(215,229,255,255)
}